section {
    margin-top: 60px;
}

.small-border {
    width: 50px;
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: red;
    margin-bottom: 30px;
}

.bg-image {
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh !important;
}
.bg-feature {
    background-color: rgb(253, 237, 240);
    color: black;
}

.feature-box {
    padding: 50px;
    position: relative;
    overflow: hidden !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.feature-box .box-icon {
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: brown;
    font-size: 28px;
    color: white;
    width: 56px;
    height: 56px;
}
.feature-box .icon-right {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 100px;
    letter-spacing: -0.10em;
}
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-content:hover .hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  transition: all 0.3s;
}

footer h3 {
    margin-top: 20px;
}
footer ul li {
    list-style-type: none;
    padding: 4px 0px;
    margin-left: -30px;

}
